<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarController as nav"> <!--Can be nicknamed-->
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="https://github.com/Swiip/generator-gulp-angular">
        <span class="glyphicon glyphicon-home"></span> My Message Board
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <!-- This is used to link to our pages -->
        <li class="active"><a ng-href="#">Home</a></li>
        <li><a ui-sref="auth" ng-hide="nav.isAuthenticated()">Login</a></li>
        <li><a ui-sref="auth"  ng-click="nav.logout()" ng-show="nav.isAuthenticated()">Logout</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text"></ul>
      </ul>
    </div>
  </div>
</nav>
